<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="/css/user.css">
    <title>TheTru</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="/images/logo.jpeg" alt="TheTru">
        </div>
        <div class="navButtons">
            <a href="/user/feed" class="navButton">Feed</a>
            <a href="/user/posts" class="navButton">Posts</a>
            <a href="/user/account" class="navButton">Account</a>
        </div>
    </nav>
    <div class="conteiner">
        {{{body}}}
    </div>
    <footer>
        <p>&copy;TheTru 2024</p>
    </footer>
</body>
</html>