<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="/css/user.css">
    <title>TheTru Login</title>
</head>

<body>
    <div class="formConteiner">
        {{#if messages.alert}}
        <div class="alert">
            {{messages.alert}}
        </div>
        {{/if}}
        <img src="/images/logo.png" class="logoConteiner" alt="logo">
        <form action="/user/register" method="post">
            <div class="formControl">
                <label for="name">Name</label>
                <input type="text" name="name" required>
            </div>
            <div class="formControl">
                <label for="email">Email</label>
                <input type="email" name="email" required>
            </div>
            <div class="formControl">
                <label for="password">Password</label>
                <input type="text" name="password" minlength="8" maxlength="8" required>
            </div>
            <div class="formControl">
                <label for="confirmPassword">Confirm Password</label>
                <input type="text" name="confirmPassword" minlength="8" maxlength="8" required>
            </div>
            <div class="formButton">
                <input type="submit" value="Register" class="btn">
            </div>
            <p>Already have a account? <a href="/user/login">Click here</a></p>
        </form>
    </div>
    <footer>
        <p>&copy;TheTru 2024</p>
    </footer>
</body>

</html>