<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="/css/user.css">
    <title>TheTru Login</title>
</head>
<body>
    <div class="formConteiner">
        <img src="/images/logo.jpeg" class="logoConteiner" alt="logo">
        <h2 class="title">Register</h2>
        <div class="form">
            <div class="formControl">    
                <label for="name">Name</label>
                <input type="text" name="name" required>
            </div>
            <div class="formControl">    
                <label for="email">Email</label>
                <input type="email" name="email" required>
            </div>
            <div class="formControl">
                <label for="password">Password</label>
                <input type="text" name="password" minlength="8" maxlength="8" required>
            </div>
            <div class="formControl">
                <label for="password">Confirm Password</label>
                <input type="text" name="password" minlength="8" maxlength="8" required>
            </div>
            <div class="formControl">
                <input type="submit" value="Register" class="btn">
            </div>
        <p>Already have a account? <a href="/user/login">Click here</a></p>
    </div>
    <footer>
        <p>&copy;TheTru 2024</p>
    </footer>
</body>
</html>