<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="/css/user.css">
    <title>Page Not Found</title>
</head>
<body>
    <div class="notFoundConteiner">
        <img src="/images/logo.jpeg" class="logoConteiner" alt="TheTru">
        <h1>Page not found</h1>
        <a href="/user/feed">Go to home</a>
    </div>
    <footer>
        <p>&copy;TheTru 2024</p>
    </footer>
</body>
</html>